body {
  margin: 0;
  background-color: #000;
  color: #fff;
  line-height: 1.6;
  overscroll-behavior: none;
}


/* Contenedor principal */
.contenedor {
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
  animation: fadeIn 1s ease;
}

/* Titulares */
h2 {
  color: #ff0040;
  font-size: 28px;
  padding-left: 12px;
  margin-top: 50px;
  margin-bottom: 20px;
  position: relative;
}

/* Textos */
p {
  color: #ddd;
  font-size: 16px;
}

/* Galería */
.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 18px;
  margin-top: 20px;
}

.galeria img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 2px solid #ff0040;
  border-radius: 10px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.galeria img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #ff0040;
}

/* Mapa */
iframe {
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 10px;
  margin-top: 15px;
  box-shadow: 0 0 10px #ff0040;
}

/* Animación de aparición */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}

/* Responsive para menú vertical en móviles */
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    margin-top: 10px;
  }

  nav a {
    display: block;
    margin: 8px 0;
  }
}
